<a href="https://colab.research.google.com/github/gjhernandezp/algorithms/blob/master/Python/Quantiacs/Quiz6Template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Group N Quiz 6

## Members

1.   List item
2.   List item

In [15]:
import pandas as pd  
  
# assign data of lists.  
data = {'LMA': [  300, 300, 300 ,200, 200, 200,  100, 100, 100,], 
        'SMA': [10,20,30,10,20,30,10,20,30] , 
        'R6M': [ 0.24792981,  0.8636353 ,  0.35707789,  0.60775332, -0.36092974, -0.33786709,  0.71491105,  0.58265601,  1.11764186], 
        'R2Y': [-0.4411999 ,  0.71028732,  0.30189582,  1.17513157,  0.61950773, 0.54498018,  0.3711142 ,  0.64278608,  0.95664842]}  
  

# Create DataFrame  
df = pd.DataFrame(data)  

df['AR'] = df['R6M'] + df['R2Y']

df = df.sort_values(by=['AR'], ascending=False)
  
df

   LMA  SMA       R6M       R2Y        AR
8  100   30  1.117642  0.956648  2.074290
3  200   10  0.607753  1.175132  1.782885
1  300   20  0.863635  0.710287  1.573923
7  100   20  0.582656  0.642786  1.225442
6  100   10  0.714911  0.371114  1.086025
2  300   30  0.357078  0.301896  0.658974
4  200   20 -0.360930  0.619508  0.258578
5  200   30 -0.337867  0.544980  0.207113
0  300   10  0.247930 -0.441200 -0.193270