#Quanconnect

Replace 


```python

import quandl
quandl.ApiConfig.api_key = 'dRQxJ15_2nrLznxr1Nn4'
We will create a Series named "aapl" whose values are Apple's daily closing 
aapl_table = quandl.get('WIKI/AAPL')
aapl = aapl_table['Adj. Close']['2017']
print aapl
```

for

In [ ]:
# QuantBook Analysis Tool 
# For more information see [https://www.quantconnect.com/docs/research/overview]
qb = QuantBook()
aapl = qb.AddEquity("AAPL")
start_time = datetime(2016, 1, 1) # start datetime for history call
end_time = datetime(2017, 12, 31) # end datetime for history call
# Returns daily historical data between January 1st 2016 and December 31st 2017
aapl_history = qb.History(aapl.Symbol, start_time, end_time, Resolution.Daily)
print(aapl_history.index)
print(aapl_history.columns)
aapl_history

In [ ]:
#Drop de 'AAPL R735QTJ8XC9X' from the Multindex
aapl_table = aapl_history.loc['AAPL R735QTJ8XC9X',:]
aapl_table

In [ ]:
aapl = aapl_table['close']['2017']
aapl

Replace 
*print ...* for *print(...)*

and 

*Open, High, Low, Close* for  *open, high, low, close*, etc.

Replace

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[1] - 1))

for

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)

In [ ]:
Replace

In [ ]:
df = aapl_table
print df.Close.tail(5)
print df['Adj. Volume'].tail(5)

for

In [ ]:
df = aapl_table
print(df.close.tail(5))
print(df['volume'].tail(5))

etc.

# Google Colab

Download the Apple (AAPL) data from Yahoo Finance  -> AAPL -> Historical Data -> Dates -> Apply -> Dowload and use pd.read_csv.

Upload the AAPL.csv in /content and read with pd.read_csv('AAPL.csv') the file depsapaer with the virtual server when the Colab Notebook is closed

In [1]:
import pandas as pd
aapl_table = pd.read_csv('AAPL.csv')

In [2]:
aapl_table

           Date       Open       High  ...      Close  Adj Close     Volume
0    2016-01-04  25.652500  26.342501  ...  26.337500  24.286829  270597600
1    2016-01-05  26.437500  26.462500  ...  25.677500  23.678217  223164000
2    2016-01-06  25.139999  25.592501  ...  25.174999  23.214844  273829600
3    2016-01-07  24.670000  25.032499  ...  24.112499  22.235067  324377600
4    2016-01-08  24.637501  24.777500  ...  24.240000  22.352650  283192000
..          ...        ...        ...  ...        ...        ...        ...
498  2017-12-22  43.669998  43.855000  ...  43.752499  41.906780   65397600
499  2017-12-26  42.700001  42.867500  ...  42.642502  40.843597  132742000
500  2017-12-27  42.525002  42.695000  ...  42.650002  40.850788   85992800
501  2017-12-28  42.750000  42.962502  ...  42.770000  40.965725   65920800
502  2017-12-29  42.630001  42.647499  ...  42.307499  40.522724  103999600

[503 rows x 7 columns]

aapl_table = pd.read_csv('AAPL.csv')

In [3]:
aapl_table = pd.read_csv('https://raw.githubusercontent.com/gjhernandezp/algorithms/master/QuanConnect/AAPL.csv')

In [4]:
aapl_table

           Date       Open       High  ...      Close  Adj Close     Volume
0    2016-01-04  25.652500  26.342501  ...  26.337500  24.286829  270597600
1    2016-01-05  26.437500  26.462500  ...  25.677500  23.678217  223164000
2    2016-01-06  25.139999  25.592501  ...  25.174999  23.214844  273829600
3    2016-01-07  24.670000  25.032499  ...  24.112499  22.235067  324377600
4    2016-01-08  24.637501  24.777500  ...  24.240000  22.352650  283192000
..          ...        ...        ...  ...        ...        ...        ...
498  2017-12-22  43.669998  43.855000  ...  43.752499  41.906780   65397600
499  2017-12-26  42.700001  42.867500  ...  42.642502  40.843597  132742000
500  2017-12-27  42.525002  42.695000  ...  42.650002  40.850788   85992800
501  2017-12-28  42.750000  42.962502  ...  42.770000  40.965725   65920800
502  2017-12-29  42.630001  42.647499  ...  42.307499  40.522724  103999600

[503 rows x 7 columns]

With the data from Yahho Finance you have to use *Date,Open,High,Low,Close,Adj Close and Volume*